div.bulletAndContent:has(div.bulletAndContent:focus-within)>div>button.bullet:after {
    background-color: red;
}

div.bulletAndContent:has(div.bulletAndContent:focus-within)>.bulletSide.bulletSideExpanded:after {
    background-color: red;
}

div.bulletAndContent:focus-within>div>button.bullet:after {
    background-color: red;
}