.contentLine:has(span[data-tag=".hp"]),
.contentLine:has(span[data-tag=".pink"]) {
    background-color: #fbe9f2;
}

.contentLine:has(span[data-tag=".hr"]),
.contentLine:has(span[data-tag=".red"]) {
    background-color: #f8eaec;
}

.contentLine:has(span[data-tag=".ho"]),
.contentLine:has(span[data-tag=".orange"]) {
    background-color: #ffebd0;
}

.contentLine:has(span[data-tag=".hbr"]),
.contentLine:has(span[data-tag=".brown"]) {
    background-color: #f8ecd7;
}

.contentLine:has(span[data-tag=".hy"]),
.contentLine:has(span[data-tag=".yellow"]) {
    background-color: #f5efc4;
}

.contentLine:has(span[data-tag=".hg"]),
.contentLine:has(span[data-tag=".green"]) {
    background-color: #ecf0d4;
}

.contentLine:has(span[data-tag=".ht"]),
.contentLine:has(span[data-tag=".turqoise"]) {
    background-color: #d7f4eb;
}

.contentLine:has(span[data-tag=".hs"]),
.contentLine:has(span[data-tag=".steelblue"]) {
    background-color: #e6eef7;
}

.contentLine:has(span[data-tag=".hb"]),
.contentLine:has(span[data-tag=".blue"]) {
    background-color: #e3eeff;
}

.contentLine:has(span[data-tag=".hpu"]),
.contentLine:has(span[data-tag=".purple"]) {
    background-color: #fbe9f2;
}

.contentLine:has(span[data-tag=".hv"]),
.contentLine:has(span[data-tag=".violet"]) {
    background-color: #f4ebf6;
}

.contentLine:has(span[data-tag=".hro"]),
.contentLine:has(span[data-tag=".rose"]) {
    background-color: #fee7f9;
}

span[data-tag='.pink'],
span[data-tag='.red'],
span[data-tag='.orange'],
span[data-tag='.brown'],
span[data-tag='.yellow'],
span[data-tag='.green'],
span[data-tag='.turquoise'],
span[data-tag='.steelblue'],
span[data-tag='.blue'],
span[data-tag='.purple'],
span[data-tag='.violet'],
span[data-tag='.rose'],
span[data-tag*='.h'] {
    opacity: 0.2;
}

span[data-tag='.pink']:hover,
span[data-tag='.red']:hover,
span[data-tag='.orange']:hover,
span[data-tag='.brown']:hover,
span[data-tag='.yellow']:hover,
span[data-tag='.green']:hover,
span[data-tag='.turquoise']:hover,
span[data-tag='.steelblue']:hover,
span[data-tag='.blue']:hover,
span[data-tag='.purple']:hover,
span[data-tag='.violet']:hover,
span[data-tag='.rose']:hover,
span[data-tag*='.h']:hover {
    opacity: 1;
}

html.isDarkMode .contentLine:has(span[data-tag=".hp"]),
html.isDarkMode .contentLine:has(span[data-tag=".pink"]) {
    background-color: #ee0085;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hr"]),
html.isDarkMode .contentLine:has(span[data-tag=".red"]) {
    background-color: #d83853;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".ho"]),
html.isDarkMode .contentLine:has(span[data-tag=".orange"]) {
    background-color: #b85d00;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hbr"]),
html.isDarkMode .contentLine:has(span[data-tag=".brown"]) {
    background-color: #a96600;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hy"]),
html.isDarkMode .contentLine:has(span[data-tag=".yellow"]) {
    background-color: #887500;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hg"]),
html.isDarkMode .contentLine:has(span[data-tag=".green"]) {
    background-color: #667f00;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".ht"]),
html.isDarkMode .contentLine:has(span[data-tag=".turqoise"]) {
    background-color: #008b59;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hs"]),
html.isDarkMode .contentLine:has(span[data-tag=".steelblue"]) {
    background-color: #007bda;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hb"]),
html.isDarkMode .contentLine:has(span[data-tag=".blue"]) {
    background-color: #006bff;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hpu"]),
html.isDarkMode .contentLine:has(span[data-tag=".purple"]) {
    background-color: #8b59e1;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hv"]),
html.isDarkMode .contentLine:has(span[data-tag=".violet"]) {
    background-color: #b048c6;
    color: white;
}

html.isDarkMode .contentLine:has(span[data-tag=".hro"]),
html.isDarkMode .contentLine:has(span[data-tag=".rose"]) {
    background-color: #d514b4;
    color: white;
}